body{
	border:10px solid black;
	background-color: #a3b3ce;
}

div
{
	Display:block;
	margin-top:20px;
	margin-bottom:20px;
	margin-right:20px;
	margin-left:20px;
}

p.solid {border-style: solid;}

border
{
	Border:10px solid black;
}

header nav{
  float:right;
  margin-top: 10px;
}

header .highlight, header .current a{
  color:#e8491d;
  font-weight: bold;
}

header a:hover{
  color:#cccccc;
  font-weight: bold;
}
